{% extends "@Api/shopping.base.html.twig" %}

{% block body %}

    Registration Form:<br/>
    <form method="post" action="{{ path('create') }}">
        Name: <input type="text" name="name"/>
        <br/>
        Email: <input type="text" name="email"/>
        <br/>
        Password: <input type="text" name="password"/>
        <br/>
        <input type="submit" value="Register"/>
    </form>

{% endblock %}